# SE/2015/026

# S. PRASANTH

## PREDICT AND GIVE QUANTITATIVE SCORE FOR COVID-19 USING CHEST CT IMAGES

In [1]:
# pip install pydicom

In [2]:
import pydicom
import os
import pandas as pd

## LOAD CSV DATA

In [3]:
#Load Trained Meta Dataset
trainedMetaData = pd.read_csv('../Dataset/CSV/CT Trained Metadata.csv', index_col=1)

trainedMetaData.head()

                   Id     Label Dataset_type  Result
X_ray_image_name
ARDS (1).jpg        0      ARDS        TRAIN       0
ARDS (2).jpg        1      ARDS        TRAIN       0
Covid-19 (1).jpeg   2  COVID-19        TRAIN       1
Covid-19 (2).jpeg   3  COVID-19        TRAIN       1
Covid-19 (3).jpeg   4  COVID-19        TRAIN       1

In [4]:
len(trainedMetaData)

5354

In [5]:
#Load Test Meta Dataset
testMetaData = pd.read_csv('../Dataset/CSV/CT Test Metadata.csv', index_col=1)

testMetaData.head()

                       Id     Label Dataset_type
X_ray_image_name
Covid-19 (106).jpeg  5377  COVID-19         TEST
Covid-19 (107).jpeg  5378  COVID-19         TEST
Covid-19 (108).jpeg  5379  COVID-19         TEST
Covid-19 (109).jpeg  5380  COVID-19         TEST
Covid-19 (110).jpeg  5381  COVID-19         TEST

In [6]:
len(testMetaData)

599

## DATA PRE-PROCESSING

In [7]:
#Check for Null Values in Trained Meta Dataset
trainedMetaData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5354 entries, ARDS (1).jpg to Streptococcus (5).jpg
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            5354 non-null   int64
 1   Label         5354 non-null   object
 2   Dataset_type  5354 non-null   object
 3   Result        5354 non-null   int64
dtypes: int64(2), object(2)
memory usage: 209.1+ KB

In [8]:
#Check for Data duplications in Trained Meta Dataset
trainedMetaData.duplicated().sum()

0

In [9]:
#Check for Null Values in Test Meta Dataset
testMetaData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 599 entries, Covid-19 (106).jpeg to SARS (11).jpeg
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            599 non-null    int64
 1   Label         599 non-null    object
 2   Dataset_type  599 non-null    object
dtypes: int64(1), object(2)
memory usage: 18.7+ KB

In [10]:
#Check for Data duplications in Test Meta Dataset
trainedMetaData.duplicated().sum()

0

In [11]:
#Summary of Whole Meta Dataset
metaSummaryData = pd.read_csv('../Dataset/CSV/CT Metadata Summary.csv', index_col=1)

metaSummaryData.head(8)

                         Label
Image_Count
117                   COVID-19
1576                    Normal
2                         ARDS
2773         Pnemonia Bacteria
1469            Pnemonia Virus
11                        SARS
5                Streptococcus
5953                     Total